
body {
    background-color: lightcoral;
}

button {
    display: block;
  margin: auto;
  background-color: black;
  text-align: center;
  font-size: 200%;
  font-size-adjust: 1000%;
  width: 300px;
  block-size: 100px;
  color: white;
  border-color: white;
  border-width: 5px;
  font-family: courier;
  border-radius: 15px;
}

#details1 {
    text-align: center;
    font-size: 40px;
    background-color: lightblue;
    margin: 20px;
    font-family: courier;
    border-color: blue;
    border-radius: 45px
  }

#upd1 {
    width: 800px;
}